<div class="flex align-content-center flex-wrap justify-content-center " style="min-height: 500px; min-width: 700px;">
  <p-toast />
  <p-card class="align-items-center" header="{{ idTask > 0 ? 'Editar tarefa' : 'Nota tarefa' }}"
    [style]="{ width: '600px' }">
    <form (ngSubmit)="saveTask()" ngNativeValidate>
      <div class="mt-2">
        <p-floatLabel class="p-fluid">
          <input pInputText id="title" [disabled]="loading" [(ngModel)]="title" required
            [ngModelOptions]="{standalone: true}" />
          <label for="title">Titulo</label>
        </p-floatLabel>
      </div>
      <div class="mt-5">
        <p-floatLabel class="p-fluid">
          <textarea rows="5" cols="30" pInputTextarea [disabled]="loading" id="description" [(ngModel)]="description"
            [ngModelOptions]="{standalone: true}">
          </textarea>
          <label for="title">Descrição</label>
        </p-floatLabel>
      </div>
      <div class="flex gap-2 mt-3 gutter">
        <p-button type="button" label=" {{ idTask > 0 ? 'Voltar' : 'Cancelar' }} " severity="secondary"
          [disabled]="loading" class="w-full" styleClass="w-full" (click)="goToPage('/tasks')" />
        <p-button type="submit" label="Salvar" [disabled]="loading" class="w-full" styleClass="w-full" />
      </div>
    </form>
    <p-progressBar mode="{{loading ? 'indeterminate' : ''}}"
      [style]="{ height: '6px', marginTop:'15px', marginBottom:'-20px'}" />
  </p-card>
</div>